.navbar {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
  background-color: rgb(163, 197, 255);
  border-bottom: 1px solid;

}

.navLink {
  align-items: start !important;
  display: flex;
  flex-direction: row;
}
  